.containerGeral{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    background-color: white;
}

.container1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container2{
    display: flex;
    align-items: center;
}

.containerLogin{
    height: 50rem;
    width: 65rem;
    border-radius: 0 2rem 2rem 0;
    background-color: #FCFBF7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    font-size: 2rem ;
    margin-bottom: 2rem;
    margin-right: 3rem;
    color: black;
}

.titulo strong{
    color:#9EB9D4;
}

.formulario{
    height: 25rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.campo{
    height: 3rem;
    margin-bottom: 1rem;
    border: none;
    background-color:rgb(233, 231, 231);
    border-radius: 2rem;
}

input::placeholder{
    padding-left: 2rem;
    color: #757575;
}

.botao{
    height: 3rem;
    width: 9rem;
    background-color:#9EB9D4;
    color: white;
    border-radius: 3rem;
    font-size: 1rem;
    margin-left: 12rem;
    border: none;
}

.botao:hover{
    background-color:black; 
    transition: 0.5s;
    opacity: 1;
    color: #9EB9D4;
    outline: none;
}