.gridContainer{
    background-color: aqua;
    display: grid;
    height: 100vh;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 75px 1fr 30px;
    grid-template-areas: 
        'cabecalho cabecalho'
        'lateral principal'
        'rodape rodape';
}

.cabecalho{
    grid-area: cabecalho;
}

.lateral{
    grid-area: lateral;
}

.principal{
    grid-area: principal;
}

.rodape{
    grid-area: rodape;
}