:root {
    --cinza-claro: #adb5bd;
    --cinza: #404756;
    --cinza-escuro: #23272f;
    --azul-claro: #58C4DC;
    --preto: #000;
    --branco: #FFF;
    --laranja: #f77f00;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
}

body, input, textarea, button {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
 }

