.conteiner{
    background-color: darkgray;
    width: 10rem;
    height: 2rem;
    border-radius: 5rem;
}

.texto{
    color: blueviolet;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}